/*****************************************************
* Custom CSS Stylesheet
* @author Marty Bonacci
******************************************************/


.container-fluid{
	padding-left: 7em;
	padding-right: 7em;
}


footer {
	color: lightgray;
	background-color: black;
	text-align: center;
	font-style: italic;
	padding-top: 2em;
	padding-bottom: 2em;
}

header {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 4em;
	margin-right: 4em;


}

.jumbotron {
	margin-top: 3em;
	margin-bottom: 3em;
	margin-left: 4em;
	margin-right: 4em;
}

.row:nth-last-of-type(2){
	background-color: lightgray;
	padding-left: 7em;
	padding-right: 7em;
	padding-bottom: 3em;
	padding-top: 3em;
}

.row:nth-last-of-type(2) .col-md-3{
	padding: 4em 4em 4em 4em;
}


.row:nth-last-of-type(1) .col-md-3{
 	padding: 4em 4em 4em 4em;
}




.col-md-9 {
	padding-left: 2em;
	padding-right: 2em;
}



.col-md-3 p {
	border-radius: 1em;
	border-color: black;
	border-width: 1em;
	background-color: lightgray;
	padding: 1em;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

